$main-color-bg: rgb(170, 186, 204);
$main-color-bg-gradient: linear-gradient(
  273deg,
  rgba(170, 186, 204, 1) 16%,
  rgba(213, 219, 224, 1) 32%,
  rgba(171, 181, 191, 1) 89%
);
$sub-color-bg: rgb(78, 104, 144);
$sub-color-bg-gradient: linear-gradient(
  159deg,
  rgba(78, 104, 144, 1) 10%,
  rgba(63, 83, 105, 1) 19%,
  rgba(179, 195, 209, 1) 35%,
  rgba(72, 99, 130, 1) 89%
);
$shadow-text: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0),
  1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
  1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
$medium-size: 720px;
$small-size: 520px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  transition: 0.2s;
}

body {
  background: $main-color-bg;
  background: $main-color-bg-gradient;
}

// Header

.header {
  height: 10vh;
  width: 100%;
  background: $sub-color-bg;
  background: $sub-color-bg-gradient;
  border: 2px solid black;
  border-radius: 3rem 3rem 3rem 3rem;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: $small-size) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.header__div-logo {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

h1 {
  text-shadow: $shadow-text;
  font-size: 40px;
  border: black;
  align-self: center;

  @media (max-width: $medium-size) {
    font-size: 28px;
  }

  @media (max-width: $small-size) {
    font-size: 22px;
    width: 50px;
  }
}

.header__logo {
  width: 70px;
  height: 70px;
  background-image: url("./assets/pngegg.png");
  background: url("./assets/pngegg.png");

  @media screen and (max-width: $small-size) {
    display: none;
  }
}

.header__total-price {
  color: wheat;
  font-size: 22px;
  text-shadow: $shadow-text;

  @media screen and (max-width: $medium-size) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.header__basket {
  background-image: url("./assets/shop-basket.png");
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.header__total {
  overflow: hidden;
  position: relative;
  width: 45%;
  padding-bottom: 40%;
}

.header__total-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(163, 206, 233, 0.943);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border: 1px solid black;
  font-size: 120%;
  border-radius: 50%;
}
//main

.main {
  min-height: 80vh;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.main__filter {
  width: 25%;
  background: rgba(105, 135, 196, 0.4);
  border: 1px solid gainsboro;
  border-radius: 0.8rem;
  padding: 0.6%;
  height: fit-content;
}

.main__products {
  width: 74%;
  background: rgba(105, 135, 196, 0.4);
  border: 1px solid gainsboro;
  border-radius: 0.8rem;
  overflow: hidden;
}

.main__reset-copy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  color: green;
}

.main__btn {
  background-color: $sub-color-bg;
  text-shadow: $shadow-text;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 120%;
  cursor: pointer;

  &:hover {
    transform: scale(105%);
  }

  &:active {
    box-shadow: 2px 2px 5px #2d3388;
  }
}

.main__category,
.main__brand,
.main__price,
.main__stock {
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
}

.main__category-list,
.main__brand-list {
  height: 10rem;
  overflow: hidden;
  overflow-y: auto;
  background: rgba(112, 130, 141, 0.4);
  padding: 2%;
}

h3 {
  text-align: center;
  border-bottom: 1px solid gainsboro;
  background-color: rgba(79, 81, 137, 0.432);
  text-shadow: $shadow-text;
}

.main__category-item,
.main__brand-item {
  white-space: nowrap;
  display: flex;
  align-items: center;

  span {
    margin-left: auto;
    text-shadow: $shadow-text;
    font-size: 1.1rem;
  }

  label {
    overflow: hidden;
    padding: 0.3rem;
    cursor: pointer;
    user-select: none;
    text-shadow: $shadow-text;
    font-size: 1.1rem;
  }
}

input[type="checkbox"] {
  cursor: grab;
  height: 1.1rem;
  width: 1.2rem;
  accent-color: $main-color-bg;
}

.item-not-active {
  // ????????? //
  label,
  span {
    color: rgba(218, 231, 218, 0.737);
  }
}

.main__data {
  display: flex;
  justify-content: space-around;
  text-shadow: $shadow-text;
  margin-top: 5%;
  width: 100%;
}

.main__sort-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(79, 81, 137, 0.432);
  padding: 0.6%;
  border-bottom: 1px solid gainsboro;

  .main__view {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .view__small,
    .view__big {
      border: 1px solid black;
      height: 2rem;
      width: 2rem;
      display: flex;
      flex-wrap: wrap;
      border-radius: 0.5rem;
      justify-content: center;
      align-items: center;
      padding: 2%;
      cursor: pointer;
      margin-left: 0.5rem;
      user-select: none;
      text-shadow: $shadow-text;
    }
  }
}

.active-view {
  box-shadow: 3px 3px 10px #2d3388;
  transform: scale(108%);
}

.main__sort-stat {
  text-shadow: $shadow-text;
}

select {
  outline: 0;
  padding: 0 1em;
  cursor: pointer;
  background-color: rgba(79, 81, 137, 0.432);
  border: 1px solid gainsboro;
  border-radius: 1rem;
  text-align: center;
  text-shadow: $shadow-text;
}

.main__search-bar {
  input {
    width: 140%;
    background-color: rgba(79, 81, 137, 0.432);
    border: 1px solid gainsboro;
    border-radius: 2rem;
    outline: none;
    padding: 0.2rem;
    text-align: center;
    color: white;
    text-shadow: $shadow-text;
  }
}

// Main items styles (too much styles)
.main__product-items {
  padding: 0.5%;
  display: flex;
  flex-wrap: wrap;
}

.main__item {
  position: relative;
  width: 14.6%;
  padding-top: 12%;
  margin: 1%;
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.big-item {
  width: 23%;
  padding-top: 20%;
}

.main__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.main__item-text {
  width: 100%;
  height: 83%;
  cursor: pointer;
}

.item__title {
  background: rgba(24, 26, 28, 0.8);
  padding: 1%;
  font-size: 90%;
  text-align: center;
  text-shadow: $shadow-text;
  border-bottom: 1px solid black;
  white-space: nowrap;
}

.info-hidden {
  display: none;
}

.item__info-item {
  width: 55%;
  background-color: rgba(10, 62, 167, 0.592);
  border-radius: 0 0 0.4rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 1%;
  text-shadow: $shadow-text;

  p {
    font-size: 0.7rem;
    color: goldenrod;
  }

  span {
    font-size: 0.7rem;
  }
}

.main__item-btns {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;

  button {
    background-color: #4e6890;
    opacity: 0.9;
    text-shadow: $shadow-text;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 70%;
    cursor: pointer;

    &:hover {
      transform: scale(103%);
    }
  
    &:active {
      box-shadow: 2px 2px 3px #2d3388;
      transform: translateY(-0.25em);
    }
  }
}

// Footer

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $sub-color-bg;
  background: $sub-color-bg-gradient;
  border: 2px solid black;
  border-radius: 3rem 3rem 3rem 3rem;
  padding-left: 3%;
  padding-right: 3%;
}

.footer__github {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  @media screen and (max-width: $small-size) {
    flex-direction: column;
    gap: 5px;
  }
}

.footer__info {
  display: flex;
  gap: 50px;

  @media screen and (max-width: $medium-size) {
    gap: 5px;
  }
}

.footer__logo {
  width: 120px;
  height: 75px;

  @media screen and (max-width: $small-size) {
    width: 100px;
  }

  &:hover {
    transform: scale(107%);
  }
}

.footer__year {
  display: inline-block;
  font-size: 28px;
  align-self: center;
  text-shadow: $shadow-text;
  @media screen and (max-width: $small-size) {
    font-size: 16px;
  }
}

.footer__github-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: $medium-size) {
    font-size: 1.2rem;
    text-align: center;
  }
  a {
    text-decoration: none;
    text-shadow: $shadow-text;
  }

  a:hover {
    color: black;
  }
}
