$main-color-bg: rgb(170, 186, 204);
$main-color-bg-gradient: linear-gradient(
  273deg,
  rgba(170, 186, 204, 1) 16%,
  rgba(213, 219, 224, 1) 32%,
  rgba(171, 181, 191, 1) 89%
);
$sub-color-bg: rgb(78, 104, 144);
$sub-color-bg-gradient: linear-gradient(
  159deg,
  rgba(78, 104, 144, 1) 10%,
  rgba(63, 83, 105, 1) 19%,
  rgba(179, 195, 209, 1) 35%,
  rgba(72, 99, 130, 1) 89%
);
$shadow-text: 0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
$medium-size: 720px;
$small-size: 520px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  transition: 0.2s;
}

body {
  background: $main-color-bg;
  background: $main-color-bg-gradient;
}

// Header

.header {
  height: 10vh;
  width: 100%;
  background: $sub-color-bg;
  background: $sub-color-bg-gradient;
  border: 2px solid black;
  border-radius: 3rem 3rem 3rem 3rem;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: $small-size) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.header__div-logo {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

h1 {
  text-shadow: $shadow-text;
  font-size: 40px;
  border: black;
  align-self: center;
  

  @media (max-width: $medium-size) {
    font-size: 28px;
  }

  @media (max-width: $small-size) {
    font-size: 22px;
    width: 50px;
  }
}

.header__logo {
  width: 70px;
  height: 70px;
  background-image: url("./assets/pngegg.png");
  background: url("./assets/pngegg.png");

  @media screen and (max-width: $small-size) {
    display: none;
  }
  
}

.header__total-price {
  color: wheat;
  font-size: 22px;
  text-shadow: $shadow-text;

  @media screen and (max-width: $medium-size) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.header__basket {
  background-image: url("./assets/shop-basket.png");
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding-top: 20px;
}

.header__total {
  overflow: hidden;
  position: relative;
  width: 45%;
  padding-bottom: 40%;
}

.header__total-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(163, 206, 233, 0.943);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border: 1px solid black;
  font-size: 120%;
  border-radius: 50%;
}

main {
  min-height: 80vh;
}

// Footer

.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $sub-color-bg;
  background: $sub-color-bg-gradient;
  border: 2px solid black;
  border-radius: 3rem 3rem 3rem 3rem;
  padding-left: 3%;
  padding-right: 3%;
}

.footer__github {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  @media screen and (max-width: $small-size) {
    flex-direction: column;
    gap: 5px;
  }
}

.footer__info {
  display: flex;
  gap: 50px;

  @media screen and (max-width: $medium-size) {
    gap: 5px;
  }
}

.footer__logo {
  width: 120px;
  height: 75px;

  @media screen and (max-width: $small-size) {
    width: 100px;
  }

  &:hover {
    transform: scale(107%);
  }
}

.footer__year {
  display: inline-block;
  font-size: 28px;
  align-self: center;
  text-shadow: $shadow-text;
  @media screen and (max-width: $small-size) {
    font-size: 16px;
  }
}

.footer__github-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: $medium-size) {
    font-size: 1.2rem;
    text-align: center;
  }
  a {
    text-decoration: none;
    text-shadow: $shadow-text;
  }

  a:hover {
    color: black;
  }
}
